.overlay {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;     
  height: 100vh;    
  background-color: rgba(0, 0, 0, 0.65); 
  display: flex;
  justify-content: center; 
  align-items: center;     
  z-index: 1000;
}

.modal {
  display: flex;
  width: 950px;
  height: 800px;
  background-color: #000;
  overflow: hidden;
}

.imageSection {
  flex: 2;
  background-color: #000;
  display: flex;
}

.imageSection img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.commentSection {
  flex: 1;
  background-color: #000;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.userInfo {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.userInfo span {
  margin-left: 8px;
  font-weight: bold;
}

.other {
  margin-left: auto;
  width: 22px;
  height: 22px;
}

.comments {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 1rem;
}

.commentItem {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}

.name {
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
}

.content {
  font-family: Inter;
  font-size: 12px;
  font-weight: 700;
}

.commentAvatar {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  object-fit: cover;
}

.iconBar {
  display: flex;
  align-items: center;
  border-top: 1px solid #222;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: auto; 
}

.commentbar {
  width: 28px;
  height: 28px;
  margin-right: 11px;
}

.commentpostbar {
  width: 28px;
  height: 28px;
  margin-left: auto;
}

.commentInput {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-top: 8px;
  border-top: 1px solid #222;
}

.commentInput input {
  background-color: #000;
  color: #979797;
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
}

.commentInput button {
  background-color: transparent;
  color: #5A6E80;
  font-size: 13px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 1.5rem;
}

.postContent {
  padding: 16px;
  border-bottom: 1px solid #faf8f8;
}

.postContent p {
  margin: 0;
  font-size: 14px;
  color: #a9a7a7;
}