.wrapper {
    display: flex;
    background-color: black;
    color: white;
    height: 100vh;
  }
  
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 100px 0 0 380px;
  }
  
  .title {
    font-size: 21px;
    font-weight: 900;
    margin-bottom: 8px;
    text-align: left;
    width: 100%;
    max-width: 674px;
  }
  
  .description {
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 32px;
    text-align: left;
    width: 100%;
    max-width: 674px;
  }
  
  .background {
    display: flex;
    align-items: center;      
    gap: 20px;
    padding: 0 24px;
    background-color: #1A1A1A;
    width: 674px;
    height: 96px;
    border-radius: 12px;
  }
  
  .profile {
    width: 79px;
    height: 79px;
    border-radius: 50%;
    flex-shrink: 0;
  }
  
  .input {
    height: 40px;
    width: 268px;
    padding: 0 12px;
    background-color: #1A1A1A;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    color: white;
    font-size: 15px;
    line-height: 1.2;
  }
  
  
  .button {
    margin-right:300px;
    align-self: center;
    margin-top: 63px;
    width: 275px;
    height: 48px;
    border-radius: 8px;
    background: #3C98FF;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .profilePreview {
  width: 120px;           
  height: 120px;          
  object-fit: cover;      
  border-radius: 50%;      
  display: block;
  margin: 0 auto 16px;     
  border: 2px solid #ccc; 
}